<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      
      <mat-icon>play_for_work</mat-icon>
      Prijava
    </ng-template>
    <app-login></app-login>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>how_to_reg</mat-icon>
      Registracija
    </ng-template>
    <app-registration></app-registration>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>stars</mat-icon>
      Lista najboljih
    </ng-template>
    <app-topchart></app-topchart>
  </mat-tab>
</mat-tab-group>
