<mat-spinner *ngIf="doSpin"></mat-spinner>
<div *ngIf="!doSpin">
  <mat-card style="text-align: center">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>spellcheck</mat-icon><h3>Odaberite anagram</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h5>Pitanje: {{anagrams[iter].data.question}}</h5>
      <h5>Odgovor: {{anagrams[iter].data.answer}}</h5>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="goLeft()" mat-icon-button color="primary">
        <mat-icon>
          keyboard_arrow_left</mat-icon>
      </button>
      <button (click)="send()" mat-icon-button color="primary">
        <mat-icon>
          control_point</mat-icon>
      </button>
      <button (click)="goRight()" mat-icon-button color="primary">
        <mat-icon>
          keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
