<div style="display: flex;
align-items: center;
justify-content: center;">
  <form #fivesForm="ngForm">
    <table style="align-content: center; display: flex;
    align-items: center;
    justify-content: center; width: 100%">
      <tr *ngIf="infoMsg">
        <td style="width: 100%;">
          <h1 style="text-align: center; width: 100%;" [style.color]="infoColor">
            {{infoMsg}}
          </h1>
        </td>
      </tr>
      <tr *ngIf="showRes">
        <td>
          <table style="align-content: center">
            <tr *ngFor="let res of resultsInfo;let i = index">
              <td [style.color]="colorForRes[res.answerdBy]">
                <h5>
                  <mat-icon>{{icons[res.kind]}}</mat-icon>
                </h5>
              </td>
              <td [style.color]="colorForRes[res.answerdBy]">
                <h5>{{res.answer?res.answer : 'Bez odgovora'}}</h5>
              </td>
              <td [style.color]="colorForRes[res.answerdBy]">
                <h5>{{res.pointsAdded}}</h5>
              </td>
              <td [style.color]="colorForRes[res.answerdBy]">
                <h5>
                  <mat-icon>{{iconForRes[res.validInfo]}}</mat-icon>
                </h5>
              </td>
            </tr>

          </table>
        </td>
      </tr>
      <tr *ngIf="showSuperv">
        <td>
          <app-user-card [shortVersion]="true" [user]="data.supervisor"></app-user-card>
        </td>
      </tr>
      <tr *ngIf="doSpin">
        <td>
          <mat-spinner style="margin:0 auto;" [diameter]="20"></mat-spinner>
        </td>
      </tr>
      <tr *ngIf="loaded">
        <td>
          <form #geoForm='ngForm'>
            <table style="align-content: center; display: flex;
          align-items: center;
          justify-content: center; width: 100%">

              <ng-container *ngFor="let x of answers;let i = index">
                <tr>
                  <td>
                    <mat-icon>{{icons[x.kind]}}</mat-icon>
                  </td>
                  <td>
                    <mat-form-field>
                      <input style="text-transform:uppercase" [placeholder]="names[x.kind]" matInput id="{{i}}row_"
                        name="{{i}}row_" [(ngModel)]="x.answer" #{{i}}row_="ngModel" [pattern]="pattern">
                    </mat-form-field>
                  </td>
                </tr>
              </ng-container>
              <tr>
                <td>
                  <button mat-raised-button color="primary" (click)="submit(true)">
                    <mat-icon>save_alt</mat-icon>Potvrdi
                  </button>
                </td>
              </tr>

            </table>
          </form>
        </td>
      </tr>
    </table>
  </form>
</div>
