<div style="display: flex; align-items: center; justify-content: center;">
        <table *ngIf="loading==2" style="margin-top: 1%">
          <tr>
            <td>
              <h1>Izaberite željenu igru</h1>
            </td>
          </tr>
          <tr>
            <td>
              <button style="width: 100%" mat-raised-button color="primary" (click)="anagramPicked()">
                <mat-icon>spellcheck</mat-icon>Anagram
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button style="width: 100%" mat-raised-button color="primary" (click)="myNumPicked()">
                <mat-icon>functions</mat-icon>Moj broj
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button style="width: 100%" mat-raised-button color="primary" (click)="fivesPicked()">
                <mat-icon>border_all</mat-icon>5x5
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button style="width: 100%" mat-raised-button color="primary" (click)="geoPicked()">
                <mat-icon>language</mat-icon>Zanimljiva geografija
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button style="width: 100%" mat-raised-button color="primary" (click)="grailPicked()">
                <mat-icon>local_bar</mat-icon>Pehar
              </button>
            </td>
          </tr>
      
          <mat-spinner *ngIf="loading<2"></mat-spinner>
        </table>
        <mat-error *ngIf="errMsg">
            {{errMsg}}
        </mat-error>
      </div>
      